@media (max-width: 440px) {
   .chinu {
      border-radius: 30px;
      font-size: 20px;
      text-align: center;
   }
}


.cross-btn {
   position: relative;
   top: 10px;
   left: 20px;
   content: " ";
   padding: 10px;
   background-color: rgb(23, 186, 23);
   width: 20px;
   height: 20px; /* Adjusted height for a circular shape */
   border-radius: 50%; /* Make it a circle */
}
